*{margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 .top-bar{
    height: 60px;
    background-color: green;
    color: rgb(235, 239, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}